.list-header {
  position: sticky;
  top: calc(80px);
  /* padding: 0em 2em; */
  height: 3em;
  width: 100%;
  /* display: flex;
  align-items: center; */
  background-color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left {
  display: flex;
  justify-content: flex-start;
}

.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
}

.return-button {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.return-button:active {
  font-weight: bold;
  color: var(--trenary-color);
}

.flex {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.flex-gap {
  flex: 1 0 1em;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: brightness(0%);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: brightness(100%);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  margin: 20px;
  margin-bottom: 1rem;

  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  border-radius: 4px;
  transition: all 200ms;

  word-wrap: break-word;
  --entrance-duration: 200ms;

  animation: cardEntrance 200ms ease-out;
  animation-fill-mode: backwards;
  animation-play-state: inherit;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-vertical {
  margin-top: 0;
  margin-bottom: 0;
}

.card > div {
  margin-bottom: 1em;
}

.card > div:last-child {
  margin-bottom: 0px;
}

.hover-color:hover {
  background-color: var(--fourth-color);
}

.light-up-active:active {
  background-color: var(--secondary-color);
}

.item-title {
  font-weight: bold;
  font-size: 1.1em;
}

.font-bold {
  font-weight: bold;
}

.font-bigger {
  font-size: 1.2em;
}

.card-add-button {
  height: 6em;
  align-items: center;
  /* transition: all 0ms; */
}

.card-add-button:active {
  background-color: var(--secondary-color);
}

.plus {
  display: inline-block;
  width: 50px;
  height: 50px;

  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), #000;
  background-position: center;
  background-size: 80% 7px, 7px 80%; /*thickness = 7px, length = 80% (25px)*/
  background-repeat: no-repeat;
}

.alt {
  background: linear-gradient(#ccc, #ccc), linear-gradient(#ccc, #ccc);
  background-position: center;
  background-size: 80% 7px, 7px 80%; /*thickness = 7px, length = 80% (25px)*/
  background-repeat: no-repeat;
}
